@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
html {
  scroll-behavior: smooth;
  font-size: 16px; /* Prevent zoom-like scaling */
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-gray-700 bg-gray-50;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  @apply font-bold;
}

.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}